{% extends 'base.html' %}

{% block header %}
      <h1>{% block title %}最新文章{% endblock %}</h1>
{% endblock %}

{% block content %}
      <hr>
      <div class="dash-filter">
        <div class="dash-filter-user-category">
          {% for category in off_account_dict %}
          <input type="checkbox" class="category-group" name="{{ category }}" {% if not dash_filter["user_category"] or category in dash_filter["user_category"] %} checked="checked"{% endif %}><label>{% if "__default__" == category%}其他{% else %}{{ category }}{% endif %}: </label>
            <span>{% for off_account_id, off_account_name in off_account_dict[category] %}{{off_account_name}}{% if not loop.last %}|{% endif %}{% endfor %}</span>
            <br>
          {% endfor %}
        </div>
        <div class="dash-filter-status"> 
          <span class="col-lg-1">
            状态：
            <span class="btn-group">
              <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="view-status-target" sel-view-status="{{ dash_filter["view_status"] }}">{{ status_map["view"][dash_filter["view_status"]] }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item view-status-select" type="button" href="#" view-status=0>全部</a></li>
                <li><a class="dropdown-item view-status-select" type="button" href="#" view-status=2>未读</a></li>
                <li><a class="dropdown-item view-status-select" type="button" href="#" view-status=1>已读</a></li>
              </ul>
            </span>
          </span>
          <span class="col-lg-1">
            <input type="checkbox" {% if dash_filter["favorite_status"] == 1%}checked="checked"{% endif %} id="dash-filter-favorite-status">仅收藏
          </span>
          <span class="col-lg-1">
            从：<input type="date" value="{{ dash_filter["date_from"].strftime('%Y-%m-%d') }}" id="dash-filter-datetime-from">
            到：<input type="date"  value="{{ dash_filter["date_to"].strftime('%Y-%m-%d') }}" id="dash-filter-datetime-to">
          </span>
          <a class="btn btn-sm btn-primary" id="filter-submit">刷新</a>
          <a class="btn btn-sm btn-info">保存配置</a>
        </div>
      </div>
      <hr>

      <div class="col-lg-12 px-0">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>公众号</th>
              <th>分类</th>
              <th>发布时间</th>
              <th>标题</th>
              <th>收藏</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="article-container" scroll-page=0 scroll-page-size=50>
          {% for article in articles %}
            <tr>
              <td id="icon-for-{{ article['id'] }}">{% if article['viewed_at'] %}<i class="bi bi-envelope-paper"></i>{% else %}<i class="bi bi-envelope-fill"></i>{% endif %}</td>
              <td>{{ article['off_account_name'] }}</td>
              <td>{% if article['user_category'] %}{{ article['user_category'] }}{% else %}其他{% endif %}</td>
              <td>{{ article['updated_at'] }}</td>
              <td><a href="#" link="{{ article['link'] }}" class="off_account_article {% if article['viewed_at'] %}viewed{% endif %}" aid="{{ article['id'] }}">{{ article['title'] }}</a></td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <a href="#"><i class="bi bi-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
{% block extension_for_js %}
    <script type="text/javascript">
      /* 
        Scroll Paging Function
      */
      $(document).on('scroll', function() {
        var scrollPos = $(window).scrollTop(); // position of window relative to the top
        var document_height = $(document).height(); // height of the whole html document (visible or not)
        var window_height = $(window).height(); // height of the browser window (visible); need to set <!DOCTYPE html> at top of the page, otherwise not working
        // msg = "scrollPos: " + scrollPos + "\ndocument height:" + document_height + "\n window height: " + window_height
        // $(".off_account_article").text(msg)
        if (scrollPos == document_height - window_height) {
          // calculate scroll page parameters
          var article_container = $("#article-container");
          var scroll_page_size = parseInt(article_container.attr("scroll-page-size"));
          var scroll_page = parseInt(article_container.attr("scroll-page")) + 1;
          // get current query string, aka filters
          const queryString = window.location.search;
          call_link = "/more/article/" + scroll_page_size + '/' + scroll_page + queryString;
          $.get(call_link, function(data, status) {
            // alert(data);
            article_container.append(data);
            article_container.attr("scroll-page", scroll_page)
          })
        }
      })
      $(document).ready(function(){
        /*
          刷新页面
        */
        $("#filter-submit").click(function (e) {
          // get current filter values
          // get user_category filter
          user_category_list = [];
          $(".category-group").each(function (i, e) {
            if ($(this).is(":checked")) {
              user_category_list.push(e.name.trim());
            }
          })
          user_category = user_category_list.join('|')
          // get view_status filter
          view_status = $("#view-status-target").attr("sel-view-status");
          fav_status = $("#dash-filter-favorite-status").is(':checked') ? 1 : 0;
          datatime_from = $("#dash-filter-datetime-from").val();
          datatime_to = $("#dash-filter-datetime-to").val();
          // construct get parameter
          filterParams = $.param({
            uc: user_category,
            view: view_status,
            fav: fav_status,
            // arc: arc_status,
            dtf: datatime_from,
            dtt: datatime_to
          });
          // construct & refresh current page with new filter params
          window.location.href = window.location.pathname + "?" + filterParams;
          // go
        });
        /*
          选择是否已读
        */
        $(".view-status-select").click(function (e) {
          e.preventDefault();
          $("#view-status-target").text($(this).text());
          $("#view-status-target").attr("sel-view-status", $(this).attr("view-status"));
        });
        /*
          当打开一个文章
        */
        $(document).on("click", "a.off_account_article", function(e) {
        // $("a.off_account_article").click(function(e) {
          e.preventDefault();
          var article_id = $(this).attr("aid");
          if (article_id) {
            var view_link = "/article/"+article_id+"/view";
            $.post(view_link, function(data, status) {
              if ('success'==status && 'success'==data.status) {
                // change current rendering
                $("#icon-for-" + article_id).html('<i class="bi bi-envelope-paper"></i>');
              }
            });
          }
          $(this).addClass("viewed");
          window.open($(this).attr('link'), '_blank');
        });
    });
    </script>
{% endblock %}