{% extends 'base.html' %}

{% block header %}
      <h2>{% block title %}公号跟踪管理{% endblock %}</h2>
      <hr>
{% endblock %}

{% block content %}
      <div class="col-lg-12 px-0">
        <h3>跟踪的公号</h3>
        <form method="post" name="form-off-account-followed">
          {% for off_account_name in off_accounts %}
          <label for="{{ off_account_name }}">{{ off_account_name }}</label>
          <input type="checkbox" name="{{ off_account_name }}"{% if off_account_name in followed %} checked="checked"{% endif %}>
          <span>||</span>
          {% endfor %}
          <br>
          <input type="submit" name="submit" value="更新">
        </form>
      </div>
      <hr>

      <div class="col-lg-12 px-0">
        <h3>用户的公号分类</h3>
        <div>
        {% for user_category in user_category_with_off_accounts %}
        <div class="btn-group">
          <span class="btn btn-sm disabled">{% if "__default__" == user_category %}其他{% else %}{{ user_category }}{% endif %}</span>
          {% if not "__default__" == user_category %}
          <button class="btn btn-sm btn-outline-danger user-category-delete" for={{ user_category }}>删除</button>
          <button class="btn btn-sm btn-outline-info user-category-rename">重命名</button>
          {% endif %}
        </div>
        <span>{% for off_account_id, off_account_name in user_category_with_off_accounts[user_category] %}{{off_account_name}}{% if not loop.last %}|{% endif %}{% endfor %}</span>
        <br>
        {% endfor %}
        <div><input type="text" id="new-user-category"><button class="btn btn-sm btn-success user-category-add" for="new-user-category">新增分类</button></div>
        </div>
      </div>
      <hr>

      <div class="col-lg-12 px-0">
        <h3>为公号进行分类</h3>
        {% for (off_account, off_account_id, user_category) in off_account_user_category_list %}
        <span>|</span>
        <span class="col-lg-1">
          <span class="btn btn-sm">{{ off_account }}</span>
          <span class="btn-group">
            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="user-category-{{off_account_id}}">
              {% if user_category %}{{ user_category }}
              {% else %}未分类
              {% endif %}
            </button>
            <ul class="dropdown-menu">
              {% for user_category in user_category_with_off_accounts %}
                {% if not "__default__" == user_category %}
              <li><a class="dropdown-item off-account-user-category-select" oaid="{{ off_account_id }}" oacat="{{ user_category }}" type="button" href="#">{{ user_category }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </span>
        </span>
        <span>|</span>
        {% endfor %}
      </span>
{% endblock %}

{% block extension_for_js %}
    <script type="text/javascript">
      $(document).ready(function(){
        /* add action for user category definition */
        // delete user category
        $(".user-category-delete").click(function(e) {
          e.preventDefault();
          // get user category
          var user_category_tobe_delete = $(this).attr("for").trim()
          if (user_category_tobe_delete.length > 0) {
            var call_link = "/user-category/service/delete";
            $.ajax({
              url: call_link,
              type: "POST",
              data: JSON.stringify({
                "user_category": user_category_tobe_delete
              }),
              contentType: "application/json; charset=utf-8",
              success: function(data, status) {
                // alert(JSON.stringify(data))
                location.reload()
              }
            })
          }
        })

        // add user category
        $(".user-category-add").click(function(e) {
          e.preventDefault();
          // get user category
          var new_user_category = $("#" + $(this).attr("for")).val().trim()
          // alert(new_user_category);
          // call api to perform the add action
          if (new_user_category.length > 0) {
            var call_link = "/user-category/service/add";
            $.ajax({
              url: call_link,
              type: "POST",
              data: JSON.stringify({
                "user_category": new_user_category
              }),
              contentType: "application/json; charset=utf-8",
              success: function(data, status) {
                // 
                // alert(JSON.stringify(data))
                location.reload()
              }
            })
          }
        })

        // rename user category

        /* add action for user category selection */
        $(".off-account-user-category-select").click(function(e) {
          e.preventDefault();
          var oaid = $(this).attr('oaid');
          var new_user_category = $(this).attr('oacat');
          var call_link = "/off-account/" + oaid + "/user-category";
          $.ajax({
            url: call_link,
            type: "POST",
            data: JSON.stringify({
              "new_user_category": new_user_category
            }),
            contentType: "application/json; charset=utf-8",
            success: function(data, status) {
                // call back
              $("#user-category-" + oaid).text(new_user_category);
              location.reload()
            }
          })
        });
    });
    </script>
{% endblock %}