{% extends 'base.html' %}

{% block header %}
      <h1>{% block title %}关注的公号{% endblock %}</h1>
{% endblock %}

{% block content %}
      <div class="col-lg-8 px-0">
        <form method="post">
          {% for oa in off_accounts %}
          <label for="{{ oa['name'] }}">{{ oa['name']}}</label>
          <input type="checkbox" name="{{ oa['name'] }}"{% if oa['name'] in followed %} checked="checked"{% endif %}>
          <span>||</span>
          {% endfor %}
          <br>
          <input type="submit" name="submit" value="更新">
        </form>
      </div>
{% endblock %}